.TournamentDetailOverview__row {
  display: flex;
  justify-content: space-between;
  margin: 1% 0 1% 0;
}

.TournamentDetailOverview__player {
  margin: 1% auto;
  border: 5px black solid;
}
.TournamentDetailOverview__winner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.TournamentDetailOverview__winner__text {
  margin: 1% 0;
  margin-left: 2%;
  color: rgb(251,170,35);
}

.winner {
  margin: 1% 0 0;
}
