.tournamentNotJoined__text{
    text-align: center;
    margin : 2% 0 ;
}

.dataGrid__tournamentDetailNotification{
    display: flex;
    justify-content: center;
}

.acceptTournamentNotificationButton{
    top: 88%;
    left: 55%;
}

.tournamentDetailNotification{
    margin: 2% 0 5% 0;
}

.tournamentDetailNotification__header{
    margin-bottom: 2%;
    text-align: center;
}

.rejectTournamentNotificationButton{
    top: 88%;
    left: 2%
}