.team{
	margin: 2%;
	flex: 0.7;
}

.team_row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Team__searchBar{
	margin: 2% 0;
}

.team__list{
	display: flex;
	flex-wrap: wrap;
  margin: 2%;
}

.team__link{
	text-decoration: none;
	padding: 0 0 2% 2%;
}

.team__link:hover{
	transform: scale(1.05);
}

.createButton{
	align-self: center;
	padding: 0 0 2% 0 ;
	margin: 0.5% 0 0 0 !important;
}

.team__createButton{
	text-align: center;
}