.news {
  width: 50%;
  margin: auto;
}

.news__list {
  display: flex;
  flex-direction: column;
}

.news__link {
  text-decoration: none;
  padding: 0 0 2% 2%;
}

.news__link:hover {
  transform: scale(1.01);
}

.news__header{
  display: flex;
  justify-content: center;
  margin: 1% 0 ;
}

.createNewsButton__row{
  display: flex;
  justify-content: flex-end;
  margin: 2% 0 ;
}

.loading{
  margin-left: 45%;
  margin-top: 20%;
}

.notFound{
  color: #e3075b;
  text-align: center;
  margin-top: 10%;
}