.tournamentCard{
  background-color: black !important;
  width: 320px;
  margin: 1%;
  padding: 0.2%;
  border: solid 5px;
  text-align: center;
}

.tournamentDescription{
  margin-top: 30px;
  text-align:left;
}

.tournamentImage{
  height: 180px;
  background-color: black;
}