.tournamentDetailPage__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.joinTournamentButton{
  margin: 1% 0 1% 0 !important;
}

.cancelButton{
  margin: 0 5% 0 0 !important;
}

.selectionButton{
  margin: 5% 0 0 0 !important;
  display:flex;
  justify-content:space-between;
}

.noTeamAvailable{
  margin: 2% 0 0 0 !important;
  font-weight: normal;
}

.tournamentDetailPage {
  width: 70%;
}

.tournamentDetailPage__title {
  font-size: 80px;
}

.tournamentDetailPage__tournamentImage {
  height: 360px;
  width: 640px;
  object-fit: cover;
  background-color: black;
  display: block;
  margin: 1% 1% 1% 0;
}
.tournamentDetailPage__trophyImage {
  height: 200px;
  width: 300px;
  margin-left: -40px;
  object-fit: cover;
}

.leaveTournamentButton{
  margin: 1% 0 1% 0 !important;
}

.updateButton {
  margin: 1% 1% 1% 0 !important;
}

.tournamentDetailPage__prizePool {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteTournament__button{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1%;
}

.TournamentDetailPage__disabledJoinButton{
  margin: 1% 0 1% 0 !important;
}