.tournament{
  margin: 2%;
  flex: 0.7;
}

.tournament_row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tournament__list{
  display: flex;
  flex-wrap: wrap;
}

.tournament__link{
  text-decoration: none;
  padding: 0 0 2% 2%;
}

.tournament__link:hover{
  transform: scale(1.05);
}

.filterNameAndStatus{
  margin: 2% 0;
  display: flex;
  justify-content: space-between;
}

.createButton{
  align-self: center;
  padding: 0 0 2% 0 ;
  margin: 0.5% 0 0 0 !important;
}

.tournament__createButton{
  text-align: center;
}