.teamCard{
    background-color: black !important;
    width: 320px;
    margin: 1%;
    padding: 0.2%;
    border: solid 5px;
    text-align: center;
}

.teamDescription{
    margin-top: 30px;
    text-align:left;
}

.teamImage{
    height:180px;
    background-color: black;
}

.teamPoints {
    margin-top: 2%;
}