.selectionButton{
    margin: 5% 0 0 0 !important;
    display:flex;
    justify-content:space-between;
}

.teamDetailPage {
    width: 70%;
}

.teamDetailPage__teamImage{
    height: 360px;
    width: 640px;
    object-fit: cover;
    background-color: black;
    display: block;
    margin: 1% 1% 1% 0;
}

.teamDetailPage__title {
    font-size: 80px;
}

.joinTeamButton{
    margin: 1% 0 1% 0 !important;
}

.leaveTeamButton{
    margin: 1% 0 1% 0 !important;
}

.teamDetailPage__deleteButton{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%;
}

.teamDetailPage__teamPoints {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.teamDetailPage__teamPoints__img {
    height: 200px;
    object-fit: cover;
    filter: invert(1);
    margin: 2%;
}

.teamDetailPage__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TeamDetailPage__disabledJoinButton{
    margin: 1% 0 1% 0 !important;
}