.createTeamForm {
	flex: 0.7;
}

.createTeamForm__mainLayout {
	 display: flex;
	 flex-direction: column;
 }

.createTeamForm__row {
	display: flex;
	flex-direction: row;
}

.createTeamForm__uploadImageAndTooltip {
	display: flex;
	justify-content: start;
	align-items: center;
}

.createTeamForm__uploadImage{
	width: 50%;
}

.createTeamForm__uploadImage__image {
  height: 180px;
  width: 320px;
  margin: 1% 1% 1% 0;
  border: 2.2px solid;
  border-color: #90e0ef;
  border-radius: 4px;
}

.createTeamForm__title{
	text-align: center;
	padding: 2% 0 5% 0
}

.submitButton{
	margin-top: 1%;
}