.profilePage {
  flex: 0.7;
}

.profilePageName{
  text-align: center;
}

.profilePagePicture{
  display: flex;
  justify-content: center;
  padding: 2% 0 2% 0;
}

.profilePageBorder{
  border: 2px white solid;
  border-radius: 1ch;
  margin: 2% 0;
}

.profilePageData{
  margin: 2%;
}