.carouselHomePage{
    background-color: #0A1128 !important;
    text-align: center;
}

.carousel__cardMedia__image{
    height: 360px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.carousel__link{
    text-decoration: none;
}