.TournamentDetailNavigationBar__Links {
  background-color: black;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1%;
}

.TournamentDetailNavigationBar__Link {
  text-decoration: none;
  list-style: none;
  color: black;
}

.is-active {
  text-decoration: underline solid #90E0EF;
}
