.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.welcome__text {
  text-align: center;
}

.welcomePage__carousel{
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}