.formPage__form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 0.7;
}

.formPage__form > h1 {
  margin-bottom: 10%;
}

.formPage__form > h1 {
  margin-bottom: 10%;
}

.formPage__title {
  margin: 5% 0;
}

#createAccount {
  text-decoration: none;
  color: black;
  width: 100px;
  margin-left: 2.5%;
}

#logIn {
  text-decoration: none;
  color: black;
  width: 100px;
  margin-left: 2.5%;
}

#createAccount:hover {
  text-decoration: underline;
}

#logIn:hover {
  text-decoration: underline;
}

.formPage__form__component {
  margin: 2.5%;
}

.formPage__form--row {
  display: flex;
  margin: 0px;
}

.loginPage__createNewAccount {
  display: flex;
  margin-bottom: 10%;
}

.registerPage__login {
  display: flex;
  margin-bottom: 10%;
}
