.editTournamentForm__row {
  display: flex;
  flex-direction: row;
}
.editTournamentForm__uploadImage__image {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border: 2.2px solid;
  border-color: #90E0EF;
  border-radius: 4px;
}

.editTournamentForm__mainLayout {
  display: flex;
  flex-direction: column;
}

.editTournamentForm__uploadImage__image {
  margin: 1% 1% 1% 0;
}