.topNavigationBar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  position: sticky;
  padding: 0 2.5%;
  top: 0;
  z-index: 1030;
}

.topNavigationBar__right {
  display: flex;
  align-items: center;
  flex: 0.5;
  justify-content: flex-end;
}

.topNavigationBar__left{
  display: flex;
  align-items: center;
  flex: 0.5;
}

.evortLogo {
  width: 10%;
  text-decoration: none;
  color: white;
}

.topNavigationBar__Link{
  padding: 0 0 0 3%;
  text-decoration: none;
  color: white;
}

.topNavigationBar__Link > h4{
  padding: 10%;
  width: fit-content;
}

.topNavigationBar__Link:hover h4{
  cursor: pointer;
  color: #90E0EF;
}
