.LeaderboardPage {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.LeaderboardPage__title {
  margin: 2%;
}

.LeaderboardPage__row {
  display: flex;
}

.LeaderboardPage__button {
  background-color: rgb(10, 17, 40);
}

.LeaderboardPage__button__text__selected {
  text-decoration: underline rgb(144, 224, 239);
}

.LeaderboardPage__button__text:hover {
  cursor: pointer ;
}

.left {
  margin-right: 100px;
}

.right {
  margin-left: 100px;
}