.createTournamentForm {
	flex: 0.7;
}

.createTournamentForm__mainLayout {
  display: flex;
  flex-direction: column;
}

.createTournamentForm__title {
  text-align: center;
}

.createTournamentForm__row {
  display: flex;
  flex-direction: row;
}

.createTournamentForm__row__hidden {
  display: none;
}

.createTournamentForm__uploadImage {
  width: 50%;
}

.createTournamentForm__uploadImage__image {
  height: 180px;
  width: 320px;
  margin: 1% 1% 1% 0;
  border: 2.2px solid;
  border-color: #90e0ef;
  border-radius: 4px;
}

.createTournamentForm__title{
	text-align: center;
	padding: 2% 0 5% 0
}

.createTournamentForm__uploadImageAndTooltip{
  display: flex;
  justify-content: start;
  align-items: center;
}
