.TopThree {
  margin: auto;
  margin-bottom: 2%;
}

.TopThree__title{
  text-align: center;
  margin: 2%;
}

.oneRow {
  display: flex;
}

.pos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first {
  border: 10px solid gold;
  border-radius: 20%;
}

.second {
  margin-left: -20%;
}

.second__color {
  border: 10px solid silver;
  border-radius: 20%;
}

.third {
  margin-left: 40%;
  margin-top: 10%;
}

.third__color {
  border: 10px solid brown;
  border-radius: 20%;
}

.team__link__noPadding {
  text-decoration: none;
}

.topThree_team__link:hover {
  transform: scale(1.02);
}