.teamNotJoined__text{
    text-align: center;
    margin : 2% 0 ;
}

.dataGrid__teamDetailNotification{
    display: flex;
    justify-content: center;
}

.acceptTeamNotificationButton{
    top: 88%;
    left: 55%;
}

.teamDetailNotification{
    margin: 2% 0 5% 0;
}

.teamDetailNotification__header{
    margin-bottom: 2%;
    text-align: center;
}

.rejectTeamNotificationButton{
    top: 88%;
    left: 2%
}