.createNewsPage__title{
    text-align: center;
    padding: 2% 0 5% 0
}

.createNewsForm__row {
    display: flex;
    flex-direction: row;
}

.createNewsForm__mainLayout {
    display: flex;
    flex-direction: column;
}

.createNewsPage{
    flex: 0.7;
}
.createNewsForm__uploadImage{
    width: 50%;
}

.createNewsForm__uploadImage__image {
    height: 180px;
    width: 320px;
    margin: 1% 1% 1% 0;
    border: 2.2px solid;
    border-color: #90e0ef;
    border-radius: 4px;
}

.createNewsForm__uploadImageAndTooltip {
    display: flex;
    justify-content: start;
    align-items: center;
}