.newsDetailPage {
  flex: 0.5;
}

.newsDetailPage__title {
  margin: 1%;
  text-align: center;
}

.newsDetailPage__image {
  max-height: 500px;
  display: block;
  margin: 2% auto;
}

.newsDetailPage__body {
  margin: 1%;
  text-align: justify;
}

.newsDetailPage__dateCreated {
  text-align: center;
}

.teamDetailNews__deleteButton {
  display: flex;
  justify-content: flex-end;
  margin: 2% 0 ;
}