.newsCard {
  background-color: black !important;
  margin: 1%;
  text-align: center;
}

.newsBody {
  margin-top: 1%;
  text-align: justify;
}

.newsImage {
  max-height: 410px;
  max-width: 2000px;
  background-color: black;
}

.newsHeader {
  margin: 1%;
}
